$tamanho: 1rem;
$style-font: 'Montserrat', sans-serif;;
$principal: 2rem;

*{
 margin: 0;
 padding:0;
 box-sizing: border-box;
 
}
body{
    background-color: white;
    
}
/* configuration*/
.container{
    background-color: lightgreen;
    width: 50%;
    position: relative;
    left: 22em;
    top: 10px;
    border-radius: 10px;
    
}
/* header menu*/

header{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    text-align: center;
    font-size:$principal;
    font-family:$style-font;
    
    
}

.header p{
    text-align: center;
    margin-top: 20px;
    font-size:$tamanho;
    font-family:$style-font;

}

/* header nav*/
.navform{
    margin-top: 50px;

    
}

.navform .btn{
    float: right;
}

.navform button{
    display: inline;
    margin: 10px;
    width: 30%;
    font-size:$tamanho;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family:$style-font;

}

.navform button:hover{
    background-color: green;
    
}
/* main menu*/

.form{
    margin-left: 20px;
    margin-top: 100px;
}

.form input{
    display: block;
    margin: 20px;
    margin-left: 140px;
}

.form .log{
    margin-top: 50px;
}

input{
    width: 50%;
    height: 50px;
    border-radius: 10px;
}

/* footer menu*/

.footer{
    margin-top: 100px;
    margin-left: 110px;
}


.footer li{
    display: inline;
    margin: 50px;
}


.footer a{

    color:#183f30;
    font-size:$tamanho;
    text-decoration: none;
    font-family:$style-font;

}

.footer a:hover{
    color: blue;
}


.footer button {
    color:blue;
    font-size:$tamanho;
    font-family:$style-font;
    border-radius: 35px;
    padding: 10px 20px;
    margin-bottom: 5px;
    text-align: center;

}


.footer button:hover{
    background-color:#04AA6D;
}

/* media querys*/



@media screen and (max-width: 600px){
    
    

    .container{
    width: 100%;  
    position: relative;
    top: 0px;
    left:0px;
    border-radius: 10px;
    overflow: hidden;
    
        
        


    }

    .form input{
        display: block;
        margin: 2px;
        margin-left: 140px;
    }

    .form .log{
        margin-top: 10px;
    }

    .navform{
        margin-top: 20px;
    
        
    }
}























